<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vamostcc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VamosTcc"
        tools:targetApi="31">
        <activity
            android:name=".view.telaprincipal.telaPrincipal"
            android:exported="false"
            android:label="@string/title_activity_tela_principal"
            android:theme="@style/Theme.VamosTcc.NoActionBar" />
        <activity
            android:name=".view.telausuario.telaUsuario"
            android:exported="false" />
        <activity
            android:name=".view.frmlogin.frmLogin"
            android:exported="false" />
        <activity
            android:name=".view.frmrecuperarsenha.telaRecuperarSenha"
            android:exported="false" />
        <activity
            android:name=".view.frmcadastro.frmCadastro"
            android:exported="false" />
        <activity
            android:name=".view.home.home"
            android:exported="false" />
        <activity
            android:name=".view.splash.telaSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>